<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asset/green-audio-player.min.css') }}">
  <title>Surah {{quran .nama}}</title>
</head>

<body class="bg-light">
  <div class="container mt-2">
    <div class="jumbotron">
      <h3 class="font-weight-bold text-center mb-2">{{quran .asma}}</h3>
      <p class="text-muted text-center">Surah : {{quran .nama}} | Yang Artinya : {{quran .arti}}</p>
      {{ quran .keterangan }}
      <a href="{{ url_for('home') }}" class="btn btn-outline-primary float-right mt-3">Beranda</a>
      <a data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-secondary float-left mt-3">Tentang Website</a>
    </div>
    <div class="row">
      {% for i in range(0, len) %}
      <div class="col-md-6 col-12 mb-3">
        <div class="card bg-white border-primary shadow rounded">
          <div class="row">
            <div class="col-12">
              <div class="p-3">
                <h3 class="ml-4 mt-3 mb-3"><small class="text-muted mr-2">{{i+1}})</small>{{ayat[i]['text']['arab']}}
                </h3>
                <p class="ml-5 text-muted">{{ayat[i]['translation']['id']}}</p>
                <hr>
                <div class="d-flex justify-content-center">
                  <div class="ready-player-{{i+1}} player col-12">
                    <audio crossorigin preload="none">
                      <source src="{{ayat[i]['audio']['secondary'][0]}}" type="audio/mpeg">
                    </audio>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLabel">Tentang Kami</h5>
          </div>
          <div class="modal-body">
              <p class="text-muted text-center">Aplikasi ini dibangun dengan menggunakan Python 
                  dan FLASK yang dimana semua data yang kami tampilkan adalah hasil request API Global. 
                  Aplikasi ini dibangun oleh :
              </p>
              <ul class="list-group">
                  <li class="list-group-item disabled text-center">Nama Anggota dan NIM</li>
                  <li class="list-group-item">Andhika Dwi Santoso | </li>
                  <li class="list-group-item">Fauzan Taqiyuddin |</li>
                  <li class="list-group-item">Syahriza Izzati |</li>
                </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='asset/green-audio-player.min.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      GreenAudioPlayer.init({
        selector: '.player',
        stopOthersOnPlay: true
      });

      GreenAudioPlayer.init({
        selector: '.player-with-download',
        stopOthersOnPlay: true,
        showDownloadButton: true,
        enableKeystrokes: true
      });

      GreenAudioPlayer.init({
        selector: '.player-with-accessibility',
        stopOthersOnPlay: true,
        enableKeystrokes: true
      });
    });
  </script>
</body>

</html>

<!-- {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %} 
-->